.sidebar_container {
    background: #FFFEFE;
    width: 250px;
    position: relative;
    z-index: 100;

    @media screen and (max-width: 1280px) {
        position: absolute;
        width: 300px;
        display: none;
        &.show {
            display: block;
        }
    }
}
.flex_container{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 30px;
}
.list_elements{
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #363D3A;
  margin: 10px;
  font-weight: 400;
}.container {
    width: 16rem;
    height: 100dvh;
    background-color: #fff;
    padding: 2rem 2rem 0 1rem;
    border-right: 1px solid #DFE1E0;
    display: flex;
    flex-direction: column;
}

.logo {
    width:80%;
}

.menu-icon {
 width: 20px;
 height: 20px;
 transition: filter 0.3s ease; 
 filter: grayscale(100%); 
 color: #6A6F6D;
 
}

.menu-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #363D3A;
    transition: color 0.3s ease; 
}

.menu-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 8px 0 8px 16px;
    cursor: pointer; 
    box-sizing: border-box; 

    margin-top: 1rem;
} 

.menu {
    margin-top: 3.5rem;

    @media screen and (max-width: 1280px) {
    margin-top: 2rem;
    padding-left: .5rem;
        
    }
}

.menu-item:hover .menu-text  {
    color: #0077B6 ;
}
.menu-item.active {
    background-color: rgb(0,150, 199, 10%);
    /* padding: 15px 30px; */
}

.menu-item.active .menu-text {
    color: #0077B6 ;
}

.active {
    background: #F3FAED;
    width: 100% !important;
    border-radius: 11px;
    font-size: 10px;
}

.active {
   color: #0077B6 ;   
}

.active p{
    color: #0077B6 ;   
 }

 @media (max-width: 760px) {
    .container {
        display: none;
    }
  }
